In [28]:
import pandas as pd

# Read all tables
tables = pd.read_html("icmetable2.html", header=None)

# Define the standardized column names (from the first table)
columns = [
    "Disturbance Y/M/D (UT)",
    "ICME Start Y/M/D (UT)",
    "ICME End Y/M/D (UT)",
    "Comp. Start (hrs wrt. Plasma/Field)",
    "Comp. End (hrs wrt. Plasma/Field)",
    "MC Start (hrs wrt. Plasma/Field)",
    "MC End (hrs wrt. Plasma/Field)",
    "BDE?",
    "BIF?",
    "Qual.",
    "dV (km/s)",
    "V_ICME (km/s)",
    "V_max (km/s)",
    "B (nT)",
    "MC?",
    "Dst (nT)",
    "V_transit (km/s)",
    "LASCO CME Y/M/D (UT)",
    "Empty?"
]

# Assign the column names to all tables
standardized_tables = [df.set_axis(columns, axis=1) for df in tables]

# Concatenate into a single DataFrame
combined_df = pd.concat(standardized_tables, ignore_index=True)

# drop last column
combined_df = combined_df.iloc[:, :-1]
# replace '...' with None
combined_df = combined_df.replace('...', None)
# remove rows with all None values
combined_df = combined_df.dropna(how='all')

# convert date columns to datetime
date_columns = [
    "Disturbance Y/M/D (UT)",
    "ICME Start Y/M/D (UT)",
    "ICME End Y/M/D (UT)",
    "LASCO CME Y/M/D (UT)"
]

In [26]:
print(combined_df.keys())
combined_df.head()

Index(['Disturbance Y/M/D (UT)', 'ICME Start Y/M/D (UT)',
       'ICME End Y/M/D (UT)', 'Comp. Start (hrs wrt. Plasma/Field)',
       'Comp. End (hrs wrt. Plasma/Field)', 'MC Start (hrs wrt. Plasma/Field)',
       'MC End (hrs wrt. Plasma/Field)', 'BDE?', 'BIF?', 'Qual.', 'dV (km/s)',
       'V_ICME (km/s)', 'V_max (km/s)', 'B (nT)', 'MC?', 'Dst (nT)',
       'V_transit (km/s)', 'LASCO CME Y/M/D (UT)'],
      dtype='object')

,Disturbance Y/M/D (UT),ICME Start Y/M/D (UT),ICME End Y/M/D (UT),Comp. Start (hrs wrt. Plasma/Field),Comp. End (hrs wrt. Plasma/Field),MC Start (hrs wrt. Plasma/Field),MC End (hrs wrt. Plasma/Field),BDE?,BIF?,Qual.,dV (km/s),V_ICME (km/s),V_max (km/s),B (nT),MC?,Dst (nT),V_transit (km/s),LASCO CME Y/M/D (UT)
0,1996/05/27 1500,1996/05/27 1500,1996/05/29 0300,None,None,0,+4,N,None,2,0,370.0,400.0,9.0,2,-33,None,NaN
1,1996/07/01 1320,1996/07/01 1800,1996/07/02 1100,None,None,0,0,N,None,3,40,360.0,370.0,11.0,2,-20,None,NaN
2,1996/08/07 0600,1996/08/07 1200,1996/08/08 1000,None,None,0,0,N,None,2,10,350.0,380.0,7.0,2,-23,None,NaN
3,1996/12/23 1600,1996/12/23 1700,1996/12/25 1100,None,None,+10,0,N,None,2,20,360.0,420.0,10.0,2,-18,435,1996/12/19 1630 H
4,1997/01/10 0104,1997/01/10 0400,1997/01/11 0200,None,None,0,0,Y,None,1,100 S,450.0,460.0,14.0,2,-78,507,1997/01/06 1510 H

In [30]:
combined_df.to_csv("RC_icmecat.csv", index=False)